.Display {
  text-align: center;
}

.Display-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Display-header {
  background-color: #287;
  height: 150px;
  padding: 20px;
  color: white;
}

.Display-title {
  font-size: 1.5em;
}

.Display-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
