.Header {
    text-align: center;
  }
  
  .Header {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .Header-header {
    background-color: rgb(196, 8, 221);
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Header-title {
    font-size: 1.5em;
  }
  
  .Header-intro {
    font-size: large;
  }
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  