.Search {
  text-align: center;
}

.Search-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Search-header {
  background-color: rgb(136, 133, 34);
  height: 150px;
  padding: 20px;
  color: white;
}

.Search-title {
  font-size: 1.5em;
}

.Search-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
